<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OmniGuard">

        <!-- 1. تسجيل واجهة مشاركة المحتوى الموثق -->
        <activity
            android:name=".ui.ShareMediaActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <!-- 2. تسجيل مزود الملفات للمشاركة الآمنة عبر التطبيقات -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
